body {
    background-color: #F8F9FA;
}


::selection {
  background: #374863;
  text-shadow: none;
}


header.header {
    text-align: center;
    color: white;
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


header.header .intro-text {
    padding-top: 300px;
    padding-bottom: 250px;
}


header.header .intro-text .intro-sub {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-weight: 700;
}


header.header .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
}


#nav {
    background-color: #2C4C72;
}


#footer {
    background-color: #9a9ea5;
}



@media (min-width: 768px) {
  header.header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.header .intro-text .intro-sub {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header.header .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
