body {
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #fffbf7;
}


a:link, a:active, a:visited{
    color: #315e8a;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.grid-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 25% 15% 35% 25%;
    grid-template-areas: 
        'header header header'
        'nav nav nav'
        'main main aside'
        'footer footer footer'
    ;
}

/* Cabeçalho */
header{
    grid-area: header;
    min-height: 180px;
    color: whitesmoke;
    font-family: 'Georgia', sans-serif;
    background: url(img/WorldCupBackground.jpg) no-repeat 0-500px;
}

header img{
    float: left;
    margin: 10px;
}

header h1{
    text-align: center;
    margin-top: 70px;
}


/* Menu de navegação */
nav{
    grid-area: nav;
    background-color: #164477;
    text-transform: uppercase;
    font: 18px;
    font-weight: bold;
    color: #ebebeb;
    text-align: center;
}

nav ul{
    padding: 0;
    list-style: none;
}

nav li{
    display: inline;
    padding: 0 65px 0 65px;
    width: 50px;
}

nav li a{
    border-radius: 2px;
}

nav li a:hover{
    text-decoration: none;
    background: #26a4ff;
    color: #ebebeb;
    padding: 15px 30px 15px 30px;
}


main{
    grid-area: main;
    margin: 15px 25px;
}

table, th, td{
    border: 1px groove;
}

aside{
    grid-area: aside;
}


/* Rodapé */
footer{
    grid-area: footer;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #92ABC6;
    text-align: center;
}